<header class="header">
    <!-- Menú de hamburguesa desplegable -->
    <div class="menu-hamburguesa">
      <i class="fas fa-bars icon" (click)="toggleMenu()"></i>
      <nav class="menu-opciones" [class.show]="menuVisible">
        <ul class="menu-opciones-ul">
          <li class="menu-opciones-li">
            <a href="#" class="menu-opciones-li-a">
              <i class="fas fa-plus-circle icon"></i> Registrar estudiantes
            </a>
          </li>
          <li class="menu-opciones-li">
            <a href="#" class="menu-opciones-li-a">
              <i class="fas fa-eye icon"></i> Ver estudiantes
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
    <h1>REGISTRO DE ESTUDIANTES</h1>
  
  </header>
  